@mixin flex-center($justify: center)
  display: flex
  justify-content: $justify
  align-items: center

@mixin section-title
  font-size: 90px
  color: rgb(100, 204, 197)

.homepage
  width: 100%
  height: fit-content
  background: linear-gradient(140deg,#000129, black, #000129 30%, black, #000150)

.nav-bar
  @include flex-center(space-around)
  height: 100px
  padding: 0 20px
  gap: 40px
  box-sizing: border-box

  *
    transition: all .3s

  nav
    @include flex-center
    height: 100%
    gap: 40px

  a
    text-decoration: none
    font-size: large
    padding: 6px 40px
    border-radius: 70px
    color: rgb(255, 255, 255)
    border: solid 1px rgb(255, 255, 255)

    &:hover
      background-color: rgb(160, 216, 196)
      color: black
      border: solid 1px transparent
      transition: .2s

    &.active
      background-color: rgb(108, 207, 174)
      color: black
      border: solid 1px transparent
      transition: .2s

.brand
  display: flex
  gap: 20px
  font-size: 32px
  cursor: default

.brand-name
  white-space: nowrap

.brand-logo
  max-height: 60px
  color: rgb(182, 238, 224)
  transform: skew(-16deg)
  border: solid 1px rgb(155, 209, 166)
  border-radius: 50px 0px 50px 0px

.profile-container
  @include flex-center
  gap: 20px

.account
  position: relative

.profileName
  position: relative
  z-index: 5
  @include flex-center
  height: 36px
  border-radius: 50px
  padding: 4px 40px
  color: rgb(43, 43, 43)
  background-color: rgb(108, 207, 174)
  cursor: default
  box-sizing: border-box
  font-family: Arial, Helvetica, sans-serif
  font-size: 24px
  font-weight: 700

.profile img
  width: 40px
  height: 40px
  border-radius: 100px
  box-shadow: 0px 0px 10px white
  transition: .2s
  position: relative
  z-index: 10
  cursor: pointer

  &:hover
    box-shadow: 0px 0px 10px 6px rgb(160, 216, 196)

  &:active
    box-shadow: 0px 0px 10px 6px rgb(107, 153, 137)

.sections
  @include flex-center
  flex-direction: column
  width: 100%
  color: whitesmoke
  box-sizing: border-box
  padding: 50px 0

.hid
  transition: all 1s
  opacity: 0
  filter: blur(5px)

  &.left
    transform: translateX(-100%)

  &.right
    transform: translateX(100%)

  &.bottom
    transform: translateY(100%)

.homepage .show
  opacity: 1
  filter: blur(0)
  transform: translateX(0)

.start-content
  @include flex-center
  width: 100%
  height: fit-content
  padding: 40px 0
  gap: 100px
  box-sizing: border-box

  img
    width: 600px

  h1
    font-size: 110px
    max-width: 600px
    padding: 0 40px

    span
      color: rgb(36, 152, 190)

.mid-content
  @include flex-center
  flex-direction: column
  width: 100%
  height: fit-content
  padding: 40px 0
  box-sizing: border-box

  img
    width: 600px

  p
    max-width: 1400px
    padding-top: 50px
    font-size: 42px
    line-height: 1.8

.mid-title
  @include flex-center
  width: 100%
  gap: 100px

  h2
    max-width: 600px
    padding: 0 40px
    @include section-title
    line-height: 1.2

.end-content
  @include flex-center
  width: 100%
  gap: 100px
  padding: 40px 0
  box-sizing: border-box

  img
    width: 500px

.end-details
  max-width: 800px

  h3
    @include section-title
    padding-bottom: 40px

  p
    font-size: 30px
    line-height: 1.4

.mobile-content
  @include flex-center
  gap: 100px
  width: 100%
  padding: 40px 0
  box-sizing: border-box

  img
    width: 500px


.mobile-details
  max-width: 800px
  display: flex
  justify-content: space-around
  align-items: flex-start
  flex-direction: column
  font-size: 38px

  h2
    @include section-title
    padding-bottom: 40px

  h3
    padding-bottom: 10px

  span
    color: #3B71CA

.link-container
  width: 100%
  height: 100px
  @include flex-center
  padding: 50px 0

.talentsearch-button
  text-decoration: none
  color: white
  width: 400px
  height: 60px
  font-size: 28px
  border: none
  border-radius: 50px
  background: linear-gradient(to right, #1D976C 0%, #8be7ad 51%, #1D976C 100%)
  background-size: 200% auto
  transition: .5s

  &:hover
    background-position: right center

.footer-container
  width: 100%
  @include flex-center

footer
  @include flex-center
  width: 80%
  height: 120px
  border-radius: 100px 100px 0px 0px
  box-shadow: 0px 0px 10px rgb(160, 216, 196)
  gap: 50px
  background-color: #41454b

  div
    @include flex-center

    &:hover
      cursor: default

  div i
    @include flex-center
    width: 50px
    height: 50px
    font-size: 32px
    transition: .3s
    z-index: 20

    &.hid
      transform: translateY(100%)

    &.hid:nth-child(1)
      transition-delay: 400ms

    &.hid:nth-child(2)
      transition-delay: 500ms

    &.hid:nth-child(3)
      transition-delay: 600ms

    &.hid:nth-child(4)
      transition-delay: 700ms

    &.hid:nth-child(5)
      transition-delay: 800ms
  
    &.bi:hover
      transform: translateY(-10px)

  div span
    position: absolute
    font-style: normal
    font-size: 15px
    z-index: 10
    opacity: 0
    transition: transform 2s, opacity .6s

  div i:hover + span
    transform: translateY(20px)
    opacity: 1
    transition: .4s


//Scrollbar

::-webkit-scrollbar
  width: 8px

::-webkit-scrollbar-track
  background: linear-gradient(#0c0c20, black, #000129 30%, black, #04052c)

::-webkit-scrollbar-thumb
  height: 56px
  border-radius: 8px
  border: 2px solid rgb(160, 216, 196)
  background-clip: content-box
  background-color: transparent


//Media Queries
  
@media (max-width: 949px)
  .nav-bar
    padding: 0 50px

  .login
    width: 160px !important
    font-size: 14px !important
    
  .profileName
    padding-inline: 20px
    font-size: 20px

  .sections
    padding: 20px 60px 50px

  .start-content
    gap: 10px

    img
      width: 350px

    h1
      font-size: 70px

  .mid-content
    img
      width: 350px

    p
      font-size: 26px

  .mid-title
    gap: 30px

  .end-content
    gap: 20px

    img
      width: 300px

  .mobile-content
    img
      width: 300px

    h3
      font-size: 26px

    p
      font-size: 22px
  
  .talentsearch-button
    width: 320px
    height: 50px
    font-size: 26px

  footer
    height: 80px

    div i
      font-size: 28px
  
@media (950px <= width <= 1199px)
  .nav-bar
    justify-content: space-between
    padding: 0 80px

  .sections
    padding: 20px 100px 50px

  .start-content
    img
      width: 400px

    h1
      font-size: 80px

  .mid-content
    img
      width: 400px

    p
      font-size: 30px

  .end-content
    img
      width: 350px

  .mobile-content
    img
      width: 350px

    h3
      font-size: 30px

    p
      font-size: 24px

@media (max-width: 1199px)
  .mid-content
    h2
      font-size: 60px

  .end-content
    h3
      font-size: 60px

    p
      font-size: 24px

  .mobile-content
    h2
      font-size: 60px

@media (1200px <= width <= 1499px)
  .nav-bar
    justify-content: space-between
    padding: 0 80px

  .sections
    padding: 20px 100px 50px

  .start-content
    img
      width: 450px

    h1
      font-size: 90px

  .mid-content
    img
      width: 450px

    h2
      font-size: 70px

    p
      font-size: 34px

  .end-content
    img
      width: 400px
    
  .end-details
    h3
      font-size: 70px

  .mobile-content
    img
      width: 400px

    h2
      font-size: 70px

    h3
      font-size: 36px

    p
      font-size: 30px

@media (max-width: 1499px)
  .nav-bar
    nav
      display: none

  .start-content
    h1
      justify-content: space-between
      padding: 0

  .mid-content
    h2
      max-width: none
      padding: 0

    p
      line-height: 1.5

@media (1500px <= width <= 1700px)
  .nav-bar
    gap: 20px

    nav
      gap: 20px

    a
      padding-inline: 30px
  